.RandomPicker {
    padding: 30px 0;
    text-align: center;
}

.RandomButton {
    text-align: center;
    padding: 20px;
}

.RandomButton button {
    width: 260px;
    height: 50px;
    font-size: 20px;
}

.RandomResultBlock {
    text-align: center;
}

.RandomResultBlock .RandomResult-Hero {
    vertical-align: middle;
    display: inline-block;
    padding: 10px;
}

.RandomResultBlock .RandomResult-HeroInfo {
    vertical-align: middle;
    display: inline-block;
    padding: 10px;
}

.RandomResultBlock .RandomResult-HeroInfo table {
    margin-bottom: 0;
}