.InlineContentBlock {
    display: inline-block;
    text-align: center;
    min-height: 150px;
    vertical-align: top;
    margin: 0 20px 0 20px;
    min-width: 250px;
    max-width: 35%;
}

.InlineContentBlock img {
    max-width: 70%;
}

.DiscordBlock {
    margin-top: 50px;
}

.DiscordBlock > div {
    display: inline-block;
    vertical-align: middle;
    margin: 0 20px;
    min-width: 250px;
    max-width: 40%;
}

@media only screen and (max-device-width: 1024px) {
    .DiscordBlock {
        margin-top: 0;
    }

    .DiscordWidgetDiv {
        padding: 0;
    }
}