.LoadingInfo {
    text-align: center;
    display: inline-block;
    padding: 20px;
}

.LoadingSpinner {
    display: inline-block;
}

.LoadingText {
    margin: 15px;
    display: block;
    text-align: center;
}